.cabeza{ /*Es el header*/
    display: flex;
    align-items: flex-start ;
    padding-left: 0;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 25px;
}
h1{
    font-family: comic sans ms;
}
a{
    text-decoration: none;
    color: black;
}
.tienda{ /*Es el Boton para volver a la pagina principal*/
    border-radius: 15px;
    background-color: rgba(255, 177, 40, 0.92);
    font-family: comic sans ms;
    font-size: 20px;
    padding: 2px;
    margin: 2px;
    transition: 0.4s;
    
}
.tienda:hover{
    border-radius: 25px;
    background-color: rgba(255, 242, 0, 1);
    color: rgba(0, 0, 0, 0.74);
    font-family: comic sans ms;
    font-size: 25px;
    padding: 4px;
    margin: 4px;
    transition: 0.4s;
}
hr{
    width: 100%;
    height: 5px;
    background-color: black;
    border: none;   
}
.kiosco{ /*Es el boton de la tienda*/
    padding: 20px;
    margin: 20px;
    transition: 0.5s;
	background-color: rgba(159, 159, 159, 1);
}
.kiosco:hover{
    background-color: rgba(255, 255, 255, 1);
    font-size: 30px;
    padding: 30px;
    margin: 30px;
    transition: 0.4s;
}
.k{ /*Imagen*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 300px;
}
.b{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 300px;
}
.buffet{
    padding: 20px;
    margin: 20px;
    transition: 0.5s;
	background-color: rgba(159, 159, 159, 1);
}
.buffet:hover{
    background-color: rgba(255, 255, 255, 1);
    font-size: 30px;
    padding: 30px;
    margin: 30px;
    transition: 0.4s;
}
.contenedor{
    height: 50vh;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{ /*es para poner el fondo*/
	background-image: url("pizarra.jpg");
	background-size: cover; /*esto sirve para que la imagen se ponga como fondo*/
	background-repeat: no-repeat;
}
button{
	background-color: rgba(0, 0, 0, 1);
	
}
p{
	color: rgba(255, 255, 255, 1);
}
button:hover{
	background-color: rgba(0, 38, 215, 1);
}
.ImagesP{
    width: 220px;
    height: 200px;
}
.ImagesB{
    width: 250px;
    height: 200px;
}
.Contador {
    background-color: black;
    color: aliceblue;
    width: 400px;
    position: fixed;
    left: 1000px ;
    top: 720px;
}
a{
    color:aliceblue;
}
.M{
    width: 200px;
    height: 200px;
}